/BP/Bean_DB_MongoDB/nbproject/private/
/BP/Bean_DB_MongoDB/build/
/BP/FicheActeur/nbproject/private/
/BP/FicheActeur/build/
/BP/FicheActeur/dist/
/BP/Bean_DB_MongoDB/dist/
/BP/VerifActeur_v1/nbproject/private/
/BP/VerifActeur_v1/build/
/BP/VerifActeur_v1/dist/
/BP/BPE/Bean_DB_MongoDB/build/
/BP/BPE/Bean_DB_MongoDB/dist/
/BP/BPE/Bean_DB_MongoDB/nbproject/private/
/BP/BPE/FicheActeur/nbproject/private/
/BP/BPE/VerifActeur_v1/build/
/BP/BPE/VerifActeur_v1/dist/
/BP/BPE/VerifActeur_v1/nbproject/private/
/BP/BPE/FicheActeur/build/