/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 26-nov.-2017, 18:01:58
    Author     : Philippe
*/
#poster
{
    width: 13%;
    align-items: center;
}
img
{
    margin-left: 32px;
}

a#redirection
{
    color: white;
}